.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&.grid-card-3 {
		row-gap: 30px;
		& .card {
			width: 100%;
			@media (min-width: $xs) {
				width: 48%;
			}
			@media (min-width: $md) {
				width: 45%;
			}
			@media (min-width: $lg) {
				width: 31%;
			}
		}
	}
	&.grid-card-4 {
		row-gap: 30px;
		& .card {
			width: 23.1707%;
		}
	}
}