.about {
	&__container {
	}
	&__card-box {
		padding: 50px 0;
	}
	&__card {
	}
	&__tab-box {
		margin-bottom: 50px;
		display: flex;
	}
	&__tab {
		& + .about__tab {
			margin-left: 30px;
		}
		&.active {
			background-color: var(--blue);
			color: var(--white);
			pointer-events: none;
		}
	}
	&__content {
		margin-top: 50px;
	}
	&__content-item {
		border-radius: 5px;
		border: 1px solid var(--border);
		display: none;
		&.active {
			display: block;
		}
	}
}

.about-card {
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	padding-top: 188px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	&__ph,
	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__ph {
		object-fit: cover;
		z-index: 1;
	}
	&__shadow {
		background: linear-gradient(180deg, rgba(26, 33, 75, 0.1) 0%, #1A214B 89.06%);
		z-index: 2;
	}
	&__content {
		position: relative;
		z-index: 3;
	}
	&__title {
		font-weight: 800;
		font-size: 36px;
		line-height: 40px;
		color: var(--white);
		margin-bottom: 22px;
	}
	&__p {
		color: var(--white);
	}
	&__labels {
		display: flex;
		margin-top: 30px;
	}
	&__location {
		margin-right: 20px;
	}
	&__location-icon {
	}
	&__location-name {
	}
	&__square {
	}
}

.card-label-location {
	&__icon {
	}
	&__name {
	}
}

.about-content-item {
	padding-top: 45px;
	&__padding {
		padding: 0 50px;
	}
	&__title {
		font-weight: 600;
		font-size: 18px;
		line-height: 25px;
	}
	&__props {
		margin-top: 14px;
		margin-bottom: 17px;
	}
	&__name,
	&__val {
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
	}
	&__name {
	}
	&__val {
		color: var(--blue);
	}
	&__p {
		color: var(--gray3);
	}
	&__btn-box {
		padding: 40px 50px;
	}
	&__btn {
		width: 220px;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 17px 52px;
		&:nth-child(2n) {
			background-color: var(--blue-lightness);
		}
		&_title {
			margin-bottom: 9px;
		}
	}
	&__col-1 {
		width: 72.6%;
	}
	&__col-2 {
		width: 15%;
	}
	&__price {
		font-weight: 800;
		font-size: 30px;
		line-height: 37px;
		letter-spacing: 0.02em;
		color: var(--blue);
	}
}
