.features {
	padding: 120px 0;
	&__fix-box {
		display: flex;
		justify-content: space-between;
	}
	&__slider-box {
		position: relative;
		width: 390px;
		height: auto;
	}
	&__slider {
		height: 100%;
	}
	&__text {
		width: 780px;
	}
	&__title {
		margin-bottom: 22px;
	}
	&__p {
	}
	&__links {
		display: flex;
		margin-top: 38px;
	}
	&__link {
		& + .features__link {
			margin-left: 60px;
		}
	}
	&__slide {
		height: auto;
		height: 100%;
	}
	& .slider__nav {
		&_prev {
			left: 30px;
			transform: translate(0,-50%);
		}
		&_next {
			left: 90px;
			transform: translate(0,-50%);
		}
	}
}