.vacant-premises {
	padding-top: 60px;
	padding-bottom: 60px;
	&__fix-box {
	}
	&__title {
		margin-bottom: 55px;
		text-align: center;
	}
	&__btn-box {
		margin-top: 60px;
		display: flex;
		justify-content: center;
	}
	&__all-link {
		width: 240px;
	}
}
.fix-box {
}
