$xxl: 1440px
$xl: 1200px
$lg: 992px
$md: 768px
$xs: 576px

\:root
	--white: rgba(255,255,255,1)
	--black: rgba(0, 0, 0, 1)
	--blue: rgba(36, 50, 133, 1)
	--blue-light: rgba(126, 131, 166, 1)
	--blue-light2: rgba(134, 139, 172, 1)
	--blue-lightness: rgba(241, 243, 253, 1)
	--orange: rgba(250, 96, 32, 1)
	--gray: rgba(182, 183, 187, 1)
	--border: rgba(234, 236, 249, 1)

*
	font-family: Montserrat, sans-serif
	&::-webkit-scrollbar
		width: 6px
		background-color: var(--black)
	&::-webkit-scrollbar-thumb
		border-radius: 6px
		background-color: var(--yellow)
*, a
	color: var(--black)

p
	font-weight: 500
	font-size: 15px
	line-height: 24px

.fix-box
	height: 100%
	width: 290px
	min-width: 290px
	max-width: 1920px
	margin-left: auto
	margin-right: auto
	@media(min-width:$md)
		width: 708px
	@media(min-width:$xl)
		width: 1170px
	@media(min-width:$xxl)
		width: 1230px
