.header {
	padding-top: 20px;
	padding-bottom: 60px;
	margin-bottom: -50px;
	&__fix-box {
	}
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (min-width: $xl) {
			justify-content: flex-start;
		}
	}
	&__logo-box {
		width: 180px;
		height: 71px;
		display: flex;
		justify-content: flex-start;
		margin-right: 69px;
	}
	&__logo-ph {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	&__burger-box {
		width: 40px;
		height: 40px;
		@media(min-width: $xl) {
			display: none;
		}
	}
	&__burger {
		width: 100%;
		height: 100%;
		object-fit: contain;
		
	}
	&__department {
		padding-left: 46px;
		position: relative;
		@media(min-width: $xxl) {
			padding-left: 66px;
		}
		& + .header__department {
			margin-left: 42px;
			@media(min-width: $xxl) {
				margin-left: 62px;
			}
		}
		&:before {
			content: '';
			width: 1px;
			height: 60px;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			background-color: var(--border);
		}
	}
	&__nav {
		margin-top: 19px;
	}
}
.header-department {
	display: none;
	@media(min-width: $xl) {
		display: flex;
		align-items: center;
	}
	&__icon-box {
		margin-right: 18px;
	}
	&__icon {
	}
	&__txt {
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-weight: 600;
		font-size: 11px;
		line-height: 25px;
		text-transform: uppercase;
		color: var(--gray);
	}
	&__tel {
		font-weight: 600;
		font-size: 16px;
		line-height: 25px;
		letter-spacing: 0.04em;
		color: var(--blue);
	}
	&__time {
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: var(--black);
	}
}
.header-nav {
	display: none;
	@media (min-width: $lg) {
		border-radius: 5px;
		background-color: var(--blue);
		overflow: hidden;
		display: flex;
		justify-content: space-between;
	}
	& li {
		display: block;
		flex: 1 1 auto;
		& a {
			display: block;
			font-weight: 500;
			color: var(--white);
			text-align: center;
			line-height: 18.3px;
			font-size: 15px;
			padding: 26px;
			@media (min-width: $xl) {
				padding: 26px 39px;
			}
		}
		&:hover {
			& a {
				background-color: var(--blue-dark);
			}
		}
		&:last-child {
			& a {
				background-color: var(--orange);
			}
			&:hover {
				& a {
					background-color: var(--orange-dark);
				}
			}
		}
	}
}
